.movieDetails-container {
  color: #fefded;
}

.movieDetails-container img {
  width: 50%;
}

.imdbLogo {
  width: 15% !important;
  height: auto;
}

.movieDetails-header {
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
}

.movieDetails-header div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.rating-container {
  align-items: first baseline !important;
}

.movieDetails-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.btn-back {
  cursor: pointer !important;
  position: absolute !important;
  border-radius: 50%;
  padding: 3px;
  font-size: 40px !important;
  background-color: #640d6b;
  color: #fefded;
}

.starRating-container {
  background-image: linear-gradient(
    to right,
    #141e46,
    #242053,
    #371f5e,
    #4d1a66,
    #640d6b
  );
  border-radius: 8px;
  padding: 10px 5px 10px 5px;
  justify-content: center;
  text-align: center;
}
