.header {
  padding: 1.5rem;
  background-image: linear-gradient(
    to right,
    #141e46,
    #242053,
    #371f5e,
    #4d1a66,
    #640d6b
  );
  color: #fefded;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.searchBar {
  background-color: #371f5e;
  color: #fefded;
  font-size: 20px;
  height: 3rem;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  border-color: #fefded;
}
.searchBar::placeholder {
  color: #fefded;
  font-weight: 700;
}

@media screen and (max-width: 665px) {
  .header {
    display: block;
  }
  .header h1 {
    display: block;
  }
}
