.moviesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  width: 80%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.movieList-header {
  margin-bottom: 30px;
  color: #fefded;
  align-items: center !important;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 415px) {
  .moviesContainer {
    gap: 2rem;
  }
}
