.moviesContainer {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.movieList-header {
  display: grid;
  grid-template-columns: 6fr 1fr;
  margin-bottom: 30px;
  color: #fefded;
  align-items: center !important;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(
    to right,
    #141e46,
    #242053,
    #371f5e,
    #4d1a66,
    #640d6b
  );
  border-radius: 8px;
  padding: 10px 25px 10px 140px;
}

@media screen and (max-width: 1024px) {
  .moviesContainer {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    height: 80%;
    width: 100%;
    margin-top: -6rem;
  }
  .movieList-header {
    padding-left: 5rem;
  }
  .movieList-header p {
    font-size: 10px;
  }
}

@media screen and (max-width: 684px) {
  .moviesContainer {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .movieList-header {
    padding-left: 5rem;
  }
}

@media screen and (max-width: 450px) {
  .movieList-header {
    padding-left: 4rem;
  }
  .movieList-header p {
    display: none;
  }
  .moviesContainer {
    display: flex !important;
    flex-direction: row;
    gap: 7rem;
    margin-top: 2rem;
  }
}

/* @media screen and (max-width: 500px) {
  .moviesContainer {
    display: block !important;
  }
} */

@media screen and (max-width: 415px) {
  .movieList-header p {
    display: none;
  }
  .movieList-header {
    padding-left: 3rem;
  }
  .moviesContainer {
    display: flex !important;
    flex-direction: row;
    gap: 7rem;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 380px) {
  .movieList-header h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 354px) {
  .movieList-header {
    padding-left: 3.3rem;
  }
  .movieList-header h2 {
    font-size: 20px;
  }
}
