.btn-toggle {
  border-radius: 20%;
  padding: 5px;
  width: 30px;
  background-color: #371f5e;
  color: #fefded;
  font-weight: 700;
  cursor: pointer;
}

.btn-toggle-container {
  display: flex;
  flex-direction: row-reverse !important;
}

.box-container {
  width: 70%;
  height: 45rem;
  margin: 8rem auto;
  background-color: #31363f rgba(49, 54, 63, 0.8);
  padding: 15px;
  border-radius: 8px;
  overflow: scroll;
  overflow-x: hidden;
}

.box-container::-webkit-scrollbar {
  width: 12px;
}
/* .box-container::-webkit-scrollbar-track {
  background-color: #222831;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
} */
.box-container::-webkit-scrollbar-thumb {
  /* background-color: #222831; */
  border-radius: 8px;
  cursor: pointer;
}
.box-container::-webkit-scrollbar-thumb:hover {
  background-color: #371f5e;
}
